{% extends "base.html.twig" %}

{% block body %}

	<div class="container mt-5 mb-5">

		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<span class="ml-4">{{static[0].Content | raw }}</span>
				</div>
			</div>
		</div>

	</div>


{% endblock %}